<div>
    {% for room in rooms %}
        <a href="{% url 'base_user_profile_page' room.host.id %}">@{{ room.host.username }}</a>
        <a href="{% url 'base_room' room.id %}"><h3>{{ room.id }} -- {{ room.name }}</h3></a>
        <small>{{ room.topic.name }}</small><br>
        {% if request.user == room.user %}
            <a href="{% url 'base_room_edit' room.id %}">Edit</a>
            <a href="{% url 'base_room_delete' room.id %}">Delete</a>
        {% endif %}
        <hr>
    {% endfor %}
</div>